.wrapper {
  @include for-size(tablet) {
    width: 100%;
    max-width: 68.9rem;
    margin: 0 auto;
  }
  @include for-size(desktop) {
    max-width: 111rem;
  }
}

.header {
  padding: 3.6rem 1.6rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 8.9rem;
    @include for-size(desktop) {
      width: 11.4rem;
    }
  }
}

.footer {
  background-color: $color-dark-blue;
  padding: 3.6rem 1.6rem;
  @include for-size(desktop) {
    padding: 3.2rem 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 8.9rem;
    @include for-size(desktop) {
      width: 11.4rem;
    }
  }
}
