body {
  overflow-x: hidden;
}

.wrapper {
  padding: 0 1.6rem;

  @include for-size(tablet) {
    padding: 0;
    width: 100%;
    max-width: 68.9rem;
    margin: 0 auto;
  }
  @include for-size(desktop) {
    max-width: 111rem;
  }
}

.header {
  margin-top: 1.6rem;
  margin-bottom: 3.8rem;

  @include for-size(tablet) {
    margin-top: 2.4rem;
    margin-bottom: 9.9rem;
  }
  @include for-size(desktop) {
    margin-bottom: 17.2rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 8.9rem;
    @include for-size(desktop) {
      width: 11.4rem;
    }
  }
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include for-size(tablet) {
    margin-bottom: 18.6rem;
    flex-direction: row;
  }
  @include for-size(desktop) {
    margin-bottom: 22.6rem;
  }
  &__text {
    max-width: 34.3rem;
    @include for-size(tablet) {
      max-width: 39.8rem;
    }
    @include for-size(desktop) {
      max-width: 45.7rem;
    }
  }
  &__img {
    img {
      @include for-size(tablet) {
        position: absolute;
        top: -26rem;
        right: -33rem;
      }
      @include for-size(desktop) {
        top: -42rem;
        right: -50rem;
      }
    }
  }
  &__header {
    margin-bottom: 2.6rem;
  }
  &__paragraph {
    margin-bottom: 2.4rem;
  }
}

.cards {
  background: $gradient-background;
  padding-bottom: 8rem;

  @include for-size(tablet) {
    padding-bottom: 8.6rem;
  }
  @include for-size(desktop) {
    padding-bottom: 14rem;
  }

  &--wrapper {
    @include for-size(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      gap: 5.6rem 1rem;
    }

    @include for-size(desktop) {
      gap: 8rem 3rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .card {
    background-color: white;
    box-shadow: $box-shadow-card;
    margin-bottom: 4rem;
    padding: 5.6rem 2.9rem 3.2rem 2.8rem;
    border-radius: $border-radius;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 25.9rem;

    @include for-size(tablet) {
      margin: 0;
      height: 28.3rem;
    }

    @include for-size(desktop) {
      padding: 6.4rem 3.2rem 4rem 3.2rem;
      height: 34.6rem;
    }

    &__paragraph {
      margin-top: 1.6rem;
      @include for-size(desktop) {
        margin-top: 2.4rem;
      }
    }
    &__icon {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
    }
    &--gradient {
      color: white;
      padding: 2.4rem 2.8rem 3.2rem 2.8rem;
      border-radius: $border-radius;
      background: $gradient-orange-pink;
      margin-bottom: 4rem;

      @include for-size(tablet) {
        margin: 0;
      }
    }
  }
}

.footer {
  background-color: $color-dark-blue;
  padding: 3.6rem 0;
  @include for-size(desktop) {
    padding: 3.2rem 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 8.9rem;
    @include for-size(desktop) {
      width: 11.4rem;
    }
  }
}
