$color-light-blue: #666ca3;
$color-dark-blue: #13193f;
$color-grey: #83869a;
$color-magenta: #f74790;
$color-light-pink: #ffa7c3;
$color-white: #ffffff;

$gradient-orange-pink: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient-orange-pink-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$gradient-blue-purple: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$gradient-blue-purple-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
$font-family: "Plus Jakarta Sans", sans-serif;
